{% extends 'base.html.twig' %}
{% block body %}
	<h1>Création d'un article</h1>
{% endblock %}


<form action="" method="post">
	<label>Title</label>
	<input type="text" name="title" placeholder="titre de l'article">
	<label>Contenu</label>
	<textarea name="content" placeholder="Contenu de l'article"></textarea>
	<label>Image</label>
	<input type="text" name="image" placeholder="titre de l'article">
	<input type="submit" value="Enregistrer">
</form>
